root: true

extends: flowics

ecmaFeatures:
  modules: false

rules:
  func-names: 0 # revert later
  array-bracket-spacing: 0 # revert later

  # Own override
  array-bracket-spacing:
    - 2
    - always
    -
      objectsInArrays: false
