# Runtime and local data
server/config/runtime*
server/config/local*

# SSL
server/config/ssl/
*.pem
*.crt

# Grunt intermediate storage
# (http://gruntjs.com/creating-plugins#storing-task-files)
.tmp

node_modules
bower_components
dist
dump.rdb
.sass-cache
*.heapsnapshot
*.log
