# Runtime and local data
server/config/runtime*
server/config/local*

# SSL
server/config/ssl/
*.pem
*.crt

# Output directory for production builds
dist

# Output directory for development builds
bundle

node_modules
dump.rdb
.sass-cache
*.heapsnapshot
*.log

