.page-header
  button.btn.btn-default.pull-right(ng-click="addUser()")
    i.glyphicon.glyphicon-plus
    | #{' '}
    | New user
  h1 Users

ng-table-async.users-list(options="tableOptions")
  nta-column(header="'_id'"   content="item._id")
  nta-column(header="'Email'" content="item.email")
  nta-column(header="'Actions'")
    nta-action(
      label   = "'View/Edit'"
      perform = "inspect"
      size    = "xs"
      icon    = "glyphicon glyphicon-eye-open"
    )
    nta-action(
      label   = "'Remove'"
      perform = "remove"
      size    = "xs"
      icon    = "glyphicon glyphicon-trash"
      style   = "danger"
    )
