.page-header
  button.btn.btn-default.pull-right(ng-click="addUser()")
    i.glyphicon.glyphicon-plus
    | #{' '}
    | New user
  h1 Users

.users-list.container(ng-show="tableParams.total()")
  .table-content.row
    .panel.panel-default
      table.table.ng-table.ng-table-responsive(ng-table="tableParams")
        thead
          tr
            th _id
            th Email
            th Actions
        tbody
          tr(ng-repeat='user in $data')
            td {{ user._id }}
            td {{ user.email }}
            td
              button.btn.btn-default.btn-xs(type='button' ng-click="inspect(user)")
                span.glyphicon.glyphicon-eye-open
                | #{' '}Inspect

              | #{' '}

              button.btn.btn-danger.btn-xs(type='button' ng-click="confirmDeletion(user)")
                span.glyphicon.glyphicon-trash
                | #{' '}Delete

      .loadingTable.text-center(ng-show="loadingTable")
        i.fa.fa-spin.fa-4x.fa-spinner


  .text-center(ng-table-pagination="tableParams" template-url="'partials/_pager.html'")

.col-md-6.col-md-offset-3.text-muted.text-center(ng-show="!tableParams.total()")
  h2 No available results to show
