h1 Home

h3(ng-show="true") I am in a partial and I am visible through angular

h3(ng-show="false") I am in a partial and I am not visible through angular

img(src="../assets/images/creepy.jpg" width="200px")
