doctype html
html
  head
    base(href="#{settings.base}")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    title #{settings.title}

  body
    script(src="../#{scripts.commons}")
    script(src="../#{scripts.app}")
