nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="#" ui-sref="home") Dashboard

    ul.nav.navbar-nav
      li(ui-sref-active="active" ui-sref="users.list")
        a(href="") Users

    ul.nav.navbar-nav.pull-right

      li(ng-if="_.isEmpty($storage.user)" ui-sref-active="active" ui-sref="login")
        a(href="") Login

      p.navbar-text(ng-if="!_.isEmpty($storage.user)")
        | Logged as
        | #{' '}
        a(href="" ng-click="inspect()") {{ $storage.user.email }}

      li(ng-if="!_.isEmpty($storage.user)")
        a(href="" ng-click="logout()") Logout
